@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");


* {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins";
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7%;
    font-size: 1.5em;
    background: rgb(255, 255, 255);
}

nav h3 {
    display: flex;
    justify-content: center;
    transform: translateY(25%);
    color: rgb(241, 81, 81);
    font-weight: 500;
    font-size: 2rem;
}

.main {
    background: rgb(255, 255, 255);
    height: 83%;
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 10%;
    color: rgb(72, 72, 72);
}

#stage {
    display: flex;
    align-items: center;
    justify-content: center; 
    background: rgba(255, 255, 255, 0.712);
    height: 35%;
}

#stage p {
    width: 35px;
    height: auto;
    color: rgb(241, 81, 81);
    font-weight: 500;
    font-size: 2em;
}

#playerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 25%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: -10px 10px 20px -2px rgba(0, 0, 0, 0.075);
}

#computerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 25%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.075);
}

.rockComputer{
    width: 120px;
    height: 200px;
}

.paperComputer{
    width: 120px;
    height: 200px;
}

.scissorsComputer{
    width: 120px;
    height: 200px;
}

.rockPlayer{
    width: 120px;
    height: 200px;
}

.paperPlayer{
    width: 120px;
    height: 200px;
}

.scissorsPlayer{
    width: 120px;
    height: 200px;
}




#platform {
    background: rgb(255, 255, 255);
    height: 5%;
}

#selection {
    background: rgb(255, 255, 255);
    height: 40%;
    color: rgb(72, 72, 72);
}

#selectionPhrase {
    display: flex;
    justify-content: center;
    font-weight: 600;
    height: 15%;
    color: rgb(241, 81, 81);
    background: rgb(255, 255, 255)
}

#selectionButtonDiv {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 50px;
}

#selectionButtonDiv button {
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    width: 600px;
    background: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.109);
}

#selectionButtonDiv button:hover {
    padding: 0;
    border: none;
    background: rgb(251, 251, 251);
}

#rockImg {
    width: 120px;
    height: 200px;
}

#paperImg {
    width: 130px;
    height: 200px;
}

#scissorsImg {
    width: 100px;
    height: 200px;
}

#fightDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    height: 15%;
}

#fightButton {
    height: 35%;
    width: 10%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    background: rgb(255, 129, 129);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.281);
    color: white;
  
}

#fightButton:hover {
    background: rgb(247, 125, 125);
}

footer {
    background: rgb(255, 255, 255);
    height: 10%;
    
}